body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7effb;
}

header {
  color: #ffffff;
  text-align: center;
  padding: 0.5em;
  font-family: "Abril Fatface", serif;
  background: linear-gradient(to bottom, #000000, #b10909);
}

.imagen-destacada {
  margin-top: 20px;
}
.imagen-destacada img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.imagen-destacada img:hover {
  transform: scale(1.1);
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

nav.menu {
  background-color: #3d2059;
  padding: 0.5em;
  text-align: center;
}

nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav.menu li {
  display: table-cell;
  padding: 10px;
}

nav.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: block;
  position: relative;
}

@media screen and (max-width: 600px) {
  nav.menu ul {
    flex-direction: column;
    align-items: center;
  }

  nav.menu li {
    display: block;
  }
}

nav.menu ul li a:hover {
  color: #dc111184;
}

.contenido-detalle-actores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.detalle-actor {
  flex: 0 1 calc(40% - 20px);
  min-width: 300px;
  margin: 10px;
  padding: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detalle-actor img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.detalle-actor h2 {
  color: #5a0286;
}

.detalle-actor ul {
  list-style-type: none;
}

.contenido-detalle-anecdotas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.intro {
  max-width: 700px;
  margin: 10px auto;
  padding: 20px;
  text-align: justify;
  line-height: 1.6;
}

.intro h2 {
  text-align: center;
  color: #5a0286;
}

.detalle-anecdotas {
  flex: 0 1 calc(40% - 20px);
  min-width: 300px;
  margin: 10px;
  padding: 40px;
  text-align: left;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detalle-anecdotas h2 {
  color: #5a0286;
}

.detalle-anecdotas ul {
  list-style-type: disc;
}

.detalle-anecdotas img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.gif {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.detalle-anecdotas-img {
  flex: 0 1 calc(100% - 20px);
  max-width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.detalle-anecdotas-img h2 {
  color: #5a0286;
}

.detalle-anecdotas-img img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 8px;
  margin: 15px;
}

.listado {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.enlaces-relacionados {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

article {
  display: flex;
  flex-direction: column;
  background-color: #6d039023;
  padding: 10px 20px;
  line-height: 1.5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  margin: auto;
  text-decoration: none;
  background-color: #5a0286;
  color: #fff;
  border-radius: 5px;
}

.listado article {
  display: flex;
  flex-direction: column;
  background-color: #9e9e9e3b;
  padding: 10px 20px;
  line-height: 1.5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.verMas {
  display: inline-block;
  padding: 10px 20px;
  margin: auto;
  text-decoration: none;
  background-color: #bf0000;
  color: #ffffff;
  border-radius: 5px;
}

footer {
  text-align: center;
  background: linear-gradient(to bottom, #6d0390, #b10909);
  color: #fff;
  padding: 10px;
  width: 100%;
  height: 50%;
}

nav.paginas-footer {
  padding: 0.5em;
  text-align: center;
}

nav.paginas-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav.paginas-footer a {
  color: #fff;
  letter-spacing: 0.15em;
  display: block;
  position: relative;
}

@media screen and (max-width: 600px) {
  nav.paginas-footer ul {
    flex-direction: column;
    align-items: center;
  }

  nav.paginas-footer li {
    display: block;
  }
}

footer img {
  max-width: 70%;
  height: auto;
  object-fit: cover;
}
